<%= render "shared/header" %>

<div class="item-show">出品一覧
  <div class='item-contents'>
    <ul class='item-lists'>  
    <% if user_signed_in? %>
      <% @items.each do |item| %>
        <li class='list list-shadow'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>

              <%# 商品が売れていればsold outの表示 %>
              <% if item.order.present? %>
              <div class='sold-out hidden'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
              <%# //商品が売れていればsold outの表示 %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.item_name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'><%= item.view_count.to_i %></span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
<br>



<%= render "shared/second-footer" %>