

<% if current_user %>
  <%= form_with(model: [@item, @comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-text" %>
    <%= form.submit "SEND", class: "comment-btn" %>
  <% end %>
<% else %>
  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
<% end %>

<div class="comments comments_1">
 <br>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong>　<%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
        <%= comment.text %>
      </p>
         <span class="font-italic">　　▶︎ <%= time_ago_in_words comment.created_at %></span>
        　<%= link_to "削除", item_comment_path(comment.item.id, comment.id), method: :delete, data: {confirm: "削除しますか？"} if current_user && (current_user == comment.user)  %><br><br>
    <% end %>
  <% end %>
</div>
<br>